In [ ]:
Q1. Write a program to calculate the electricity bill using only if statement? (accept number of unit from user)
according to the following criteria:

Unit                  Price
First 100 units       no charge
Next 100 units        Rs 5 per unit
After 200 units       Rs 10 per unit

In [13]:
unit_user = int(input("enter unit :"))
bill = 0 
if unit_user > 100:
    if unit_user >200:
        bill += (unit_user - 200)*10
        bill += 100* 5
    else:
        bill +=(unit_user - 100)*5
print("your total amount is : ₹" , bill)

enter unit : 350
your total amount is : ₹ 2000

your total amount is : ₹ 2000

In [ ]:
Q2. Write a program to accept percentage from the user and display the grade according to the following criteria:
Marks                  Grade
> 90                    A
> 80 and <= 90          B
>= 60 and <= 80         C
below 60                D

In [19]:
marks = int(input("enter your marks"))
if marks > 100:
    print("invaild input")
elif marks < 100:
    print("invaild input")
elif marks > 90:
    print("you are a A grade student")
elif marks > 80 and marks <= 90:
    print("you are a B grade student")
elif marks >= 60 and marks <= 80:
    print("you are a C grade student")
else:
    print("you are a D grade student")

enter your marks 4888
invaild input

invaild input

In [ ]:
Q3. Accept the age of 4 people and display the youngest one?

In [25]:
person1 = int(input("enter your age :"))
person2 = int(input("enter your age :"))
person3 = int(input("enter your age :"))
person4 = int(input("enter your age :"))
youngest = min(person1,person2,person3,person4)
print("your are youngest person with age",youngest)

enter your age : 67
enter your age : 88
enter your age : 55
enter your age : 47
your are youngest person which age  47

your are youngest person which age  47

In [ ]:
Q4. A company decided to give bonus to employee according to following criteria:

Time period                    Service Bonus

More than 10 years              10%

>=6 and <=10                    8%

Less than 6 years               5%

Ask user for their salary and years of service and print the
net bonus amount?

In [7]:
salary = float(input("enter your salary :"))
time_services = int(input("enter your time period :"))
if time_services > 10:
    bounus = 10
elif time_services >= 6 and time_services <= 10:
    bounus = 8
else:
    bounus = 5
bounus_amount = (bounus/100)*salary
print("your bounus is ",bounus_amount)

enter your salary : 50000
enter your time period 7
your bounus is  4000.0

your bounus is  4000.0

In [ ]:
Q5. Accept three numbers from the user and display the second largest number?

In [13]:
a = int(input("enter first number :"))
b = int(input("enter second number:"))
c = int(input("enter third number :"))
if(a > b and a<c) or (a>c and a<b):
    second_largest_number =a
elif (b>a and b<c) or (b>c and b<a):
    second_largest_number = b
else:
    second_largest_number = c
print("second_largest_number is",second_largest_number)

enter first number : 66
enter second number: 487
enter third number : 47995
second_largest_number is 487

second_largest_number is 487

In [ ]:
Q6. Accept the marked price from the user and calculate the Net amount as (Marked Price – Discount) to pay
according to following criteria:

Marked Price                      Discount
>10000                              20%
>7000 and <=10000                   15%
<=7000                              10%

In [19]:
marked_price = float(input("enter marked Price :"))
if marked_price > 10000:
    discount_rate = 0.20
elif marked_price >7000 and marked_price <= 10000:
    discount_rate = 0.15
else:
    discount_rate = 0.10

discount = marked_price * discount_rate

net_amount = marked_price - discount

print(f"marked_price: ₹{marked_price}")
print(f"discout apllied: ₹{discount}")
print(f"net amount to pay: ₹{net_amount}")

enter marked Price : 12000
marked_price: ₹12000.0
discout apllied: ₹2400.0
net amount to pay: ₹9600.0

marked_price: ₹12000.0
discout apllied: ₹2400.0
net amount to pay: ₹9600.0

In [ ]:
Q7. Accept the marks of English, Math and Science,Social Studies Subject and display the stream allotted
according to following:

All Subjects more than 80 marks          — Science Stream

English >80 and Math, Science above 50   — Commerce Stream

English > 80 and social studies > 80     — Humanities

In [4]:
english_marks= int(input("enter your english marks:"))
math_marks = int(input("enter your maths marks:"))
science_marks = int(input("enter your science marks:"))
social_studies =int(input("enter your social studies marks:"))
if english_marks >100 and science_marks>100 and math_marks>100 and social_studies>100:
    print("invaild input")
elif english_marks >80 and science_marks >80 and math_marks >80 and social_studies > 80:
    print("you got science stream")
elif english_marks > 80 and math_marks>50 and science_marks>50 and social_studies>50:
    print("you got commerce stream")
else:
    print("you got humanitites")

enter your english marks: 55
enter your maths marks: 66
enter your science marks: 59
enter your social studies marks: 65

you got humanitites

In [ ]:
Q8. Write a program to display "Hello" if a number entered by user is a multiple of five, otherwise print "Bye"?

In [10]:
number = int(input("enter a number :"))
if number % 5 == 0:
    print("hello")
else:
    print("bye")

enter a number 55

hello

In [ ]:
Q9. Write a program to check whether the last digit of a number (entered by user) is divisible by 3 or not?

In [28]:
num = int(input("enter a number:"))
last_digit = num % 10
if last_digit % 3==0:
    print(f'{num} is divisible by 3')
else:
    print(f"{num} is not divisible by 3")

enter a number: 55555

55555 is not divisible by 3

In [ ]:
Q10. Write a program to check whether a number entered is three-digit number or not?

In [38]:
num = int(input("enter three-digit number:"))
if 100 >= abs(num) <= 999:
    print(f"{num} is three-digit number")
else:
    print(f"{num} is not three-digit number")

enter three-digit number: 77

77 is three-digit number